.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  box-shadow: var(--box-shadow);
  opacity: 97%;
  border: 1px solid var(--secondary-color);
  background-color: var(--bg-content-color);
  padding: 40px 0 25px 0;
  margin-bottom: 50px;

  &>a {
    margin: 0 auto;
    margin-top: 25px;
    text-decoration: underline;
  }
}



.checker {
  display: flex;
}

.input__side, .output__side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
}

.input__side {
  border-right: var(--border);
}

.output__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 992px) {
  .wrapper {
    width: 90%;
    padding: 0 20px 0 20px;

    &>a {
      margin: 25px auto;
    }
  }

  .checker {
    flex-direction: column;
  }

  .input__side, .output__side {
    width: 100%;
    padding: 0;
  }

  .input__side {
    border-right: none;
    border-bottom: var(--border);
    padding-bottom: 40px;
  }

  .output__side {
    padding-top: 40px;
  }

}